.footer {
  box-sizing: border-box;
  background-color: #0a2850;
  color: #fff;
  position: relative;
  z-index: -2;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  margin-top: 60px;
  margin-left: 80px;
  width: 105px;
  height: 39px;
  position: relative;
}
.footer__circle {
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: -1;
}
.footer__content_social {
  margin-top: 60px;
  margin-right: 80px;
}
.footer__content_social {
  display: flex;
  flex-direction: column;
}
.footer__content_social-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list-item {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__list-item_fb {
  margin-top: 20px;
}
.footer__list-item_ig {
  margin-top: 16px;
}
.footer__content-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.footer__content-link:hover {
  color: #c1c1c1;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin-top: 108px;
  margin-left: 80px;
  padding-bottom: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
