@import url("../vendor/normalize.css"); /*bloque de estilos de navegacion*/
@import url("../blocks/nav.css"); /*bloque de estilos de navegacion*/
@import url("../blocks/page.css"); /*bloque de estilos de la pagina*/
@import url("../blocks/header.css"); /*bloque de estilos de la cabecera*/
@import url("../blocks/recipes.css"); /*bloque de estilos de la sección recetas*/
@import url("../blocks/reservation.css"); /*bloque de estilos la sección reservaciones*/
@import url("../blocks/form.css"); /*bloque de estilos del fomulario*/
@import url("../blocks/footer.css"); /*bloque de estilos del pie de página*/

.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
